// @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;400;600&family=Fugaz+One&display=swap');

@font-face {
  font-family: "TwemojiMozilla", ;
  src: local("TwemojiMozilla"), url("/src/assets/font/TwemojiMozilla.ttf") format("truetype");
  font-weight: normal;
}

/* Your Input Div*/
.input-emoji {
  // font-family: "TwemojiMozilla";
  // font-family: Helvetica Neue, apple color emoji, "TwemojiMozilla", sans-serif;
  // font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Open-Sans', "Apple Color Emoji", "TwemojiMozilla", "Noto Color Emoji", "Android Emoji", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Prompt', Arial, "TwemojiMozilla";
}

// app global css in SCSS form
:root {
  // --wee-main-bg-color: #fafbfc;
  // --wee-main-bg-color: #f9f9f9;
  // --wee-main-bg-color: #f0f2f5;
  // --wee-main-bg-color: #f8f9fc;
  // --wee-main-bg-color: #f6f7f9;
  --wee-main-bg-color: #f3f2ef;


  --wee-main-bg-color-theme-dark: #171717;
  --wee-second-bg-color-theme-dark: #1c1c1d;
  --main-bg-color: var(--wee-main-bg-color);
  --second-bg-color: #fff;

  --wee-main-border-color: #dcdcdc;
  --wee-main-border-color-theme-dark: #282829;

  --wee-main-border-light-color: #ededed;
  --wee-main-border-lighter-color: #f8f8f8;
  --border-lighter-color: #f8f8f8;
  --wee-main-border-light-color-theme-dark: #282829;

  --wee-color-white: #fff;

  --wee-text-muted: #848d92;
  --wee-text-muted2: #6b7982;
  --v-main-text-muted-theme-dark: #8e8e93;

  --v-main-text-icon: #797f8f;
  --v-main-text-icon-theme-dark: #8e8e93;

  --v-main-text-head: #1a2d39;
  --v-main-text-head-theme-dark: #fff;

  --v-main-text-title: #62738d;
  --v-main-text-title-theme-dark: #8e8e93;

  // --v-main-text-body: #303336;
  --v-main-text-body: #000000;
  --v-main-text-body-theme-dark: #fff;

  --v-text-black: #000;
  --wee-default-font: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Prompt', sans-serif;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif !important;
}

.ss-logo {
  font-family: 'Fugaz One', sans-serif !important;
}

// .input-emoji {
//   font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Open-Sans', "Apple Color Emoji", "TwemojiMozilla", "Noto Color Emoji", "Android Emoji", sans-serif;
// }

body {
  font-family: var(--wee-default-font) !important;
  font-weight: normal !important;
  color: var(--v-main-text-body);
  --v-main-text-head: #1a2d39;
}

body.body--dark {
  color: #fff;
  --v-main-text-head: #fff;
  --main-bg-color: var(--wee-main-bg-color-theme-dark);
  --second-bg-color: var(--wee-second-bg-color-theme-dark);
  --wee-text-black: #fff;
  --wee-text-muted: #8e8e93;
  --wee-text-muted2: #6b7982;
  --wee-main-border-color: var(--wee-main-border-color-theme-dark);
  --wee-main-border-light-color: var(--wee-main-border-light-color-theme-dark);
  --border-lighter-color: var(--wee-main-border-light-color-theme-dark);
}

body.body--light {
  // color: #2d2e30;
  background-color: var(--wee-main-bg-color) !important;
}

// .body--dark {
// background-color: var(--wee-second-bg-color-theme-dark) !important
// }

.wee-bg-white {
  background-color: #fff;
}

.body--dark .wee-bg-white {
  background-color: var(--wee-second-bg-color-theme-dark) !important;
}


// .body--dark .wee-text-muted {
//   color: var(--v-main-text-muted-theme-dark) !important;
// }
.app-main-bg {
  background-color: var(--main-bg-color) !important;
}

.app-second-bg {
  background-color: var(--second-bg-color) !important;
}

.wee-main-bg-color-theme-dark {
  background-color: var(--wee-main-bg-color-theme-dark) !important;
}

.wee-second-bg-color-theme-dark {
  background-color: var(--wee-second-bg-color-theme-dark) !important;
}

.defaultFontFamily {
  font-family: var(--wee-default-font) !important;
}

// .cropper-crop-box,
// .cropper-view-box {
//   border-radius: 50%;
// }
// .cropper-view-box {
//   box-shadow: 0 0 0 1px #39f;
//   outline: 0;
// }

.wee-auto-newline {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.wee-notification {
  background-color: whitesmoke;
  /* border-radius: 4px; */
  /* padding: 1rem 2.25rem 1rem 1.25rem; */
  /* padding: 1.25rem 2.5rem 1.25rem 1.5rem; */
  position: relative;
  /* margin: 5px 0; */
}

.wee-notification a:not(.button):not(.dropdown-item) {
  color: currentColor;
  text-decoration: underline;
}

.wee-notification strong {
  color: currentColor;
}

.wee-notification code,
.wee-notification pre {
  background: white;
}

.wee-notification pre code {
  background: transparent;
}

.wee-notification>.delete {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.wee-notification .title,
.wee-notification .subtitle,
.wee-notification .content {
  color: currentColor;
}

.wee-notification.is-white {
  background-color: white;
  color: #0a0a0a;
}

.wee-notification.is-black {
  background-color: #0a0a0a;
  color: white;
}

.wee-notification.is-light {
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.7);
}

.wee-notification.is-dark {
  background-color: #363636;
  color: #fff;
}

.wee-notification.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.wee-notification.is-primary.is-light {
  background-color: #ebfffc;
  color: #00947e;
}

.wee-notification.is-link {
  background-color: #3273dc;
  color: #fff;
}

.wee-notification.is-link.is-light {
  background-color: #eef3fc;
  color: #2160c4;
}

.wee-notification.is-info {
  background-color: #3298dc;
  color: #fff;
}

.wee-notification.is-info.is-light {
  background-color: #eef6fc;
  color: #1d72aa;
}

.wee-notification.is-success {
  background-color: #48c774;
  color: #fff;
}

.wee-notification.is-success.is-light {
  background-color: #effaf3;
  color: #257942;
}

.wee-notification.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.wee-notification.is-warning.is-light {
  background-color: #fffbeb;
  color: #947600;
}

.wee-notification.is-danger {
  background-color: #f14668;
  color: #fff;
}

.wee-notification.is-danger.is-light {
  background-color: #feecf0;
  color: #cc0f35;
}

.wee-container-responsive-center,
.content-limit {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.app-feed-container {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}

.app-feed-page {
  max-width: 600px !important;
  margin-left: auto;
  margin-right: auto;
}

// .q-btn .q-focus-helper {
//   display: none;
// }
.q-btn.btn--no-hover .q-focus-helper {
  display: none;
}

.test-border {
  border: 1px solid red;
}

.app-border {
  border: 1px solid var(--wee-main-border-color) !important;
}

.q-app-border {
  border: 1px solid var(--wee-main-border-color) !important;
}

.app-border-top {
  border-top: 1px solid var(--wee-main-border-color) !important;
}

.app-border-bottom {
  border-bottom: 1px solid var(--wee-main-border-color) !important;
}

.app-border-top-bottom {
  border-top: 1px solid var(--wee-main-border-color) !important;
  border-bottom: 1px solid var(--wee-main-border-color) !important;
}

.app-border-light {
  border: 1px solid var(--wee-main-border-light-color) !important;
}

.app-border-light-top {
  border-top: 1px solid var(--wee-main-border-light-color) !important;
}

.app-border-light-bottom {
  border-bottom: 1px solid var(--wee-main-border-light-color) !important;
}

.app-border-light-top-bottom {
  border-bottom: 1px solid var(--wee-main-border-light-color) !important;
  border-top: 1px solid var(--wee-main-border-light-color) !important;
}

.app-border-lighter {
  border: 1px solid var(--border-lighter-color) !important;
}

.app-border-lighter-top {
  border-top: 1px solid var(--border-lighter-color) !important;
}

.app-border-lighter-bottom {
  border-bottom: 1px solid var(--border-lighter-color) !important;
}

.app-border-lighter-top-bottom {
  border-bottom: 1px solid var(--border-lighter-color) !important;
  border-top: 1px solid var(--border-lighter-color) !important;
}

// emoji-mart
body.body--dark .emoji-mart {
  background: none;

}

body.body--dark .emoji-mart-category-label {
  background: none;
  color: #fff;
}

body.body--dark .emoji-mart-bar {
  background: none;
  color: #fff;
}

body.body--dark .emoji-mart-anchor {
  color: $grey-5;
}

.wee-link,
.app-text-link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

.wee-link:hover,
.app-text-link:hover {
  text-decoration: underline;
  background: none !important;
}

.theme-name {
  padding: 5px;
  border-radius: 10px;
  // background-color: $blue-1;
  border: 1px solid $blue;
  width: fit-content;
  color: $blue;
  display: inline-block;
  font-size: 0.95em;
}

.border-radius-bottom-no {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
