// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #2e86de;
$secondary: #1dd1a1;
$accent: #00d1b2;
$positive: #23d160;
$negative: #ff3860;
$info: #00a0dc;
$warning: #ff9f43;

// used by dark mode
// $dark: #272a32 !default;
$dark: var(--color-zinc-900) !default;
$dark-page: $dark !default;
// $dark-page: #1d1e22 !default;


// $separator-color: #e9e9ec !default;
// $separator-dark-color: #45464b !default; //#394552
$separator-color: var(--color-zinc-200) !default;
$separator-dark-color: var(--color-zinc-700) !default;

// $shadow-color: #1d1e22 !default;
// $elevation-umbra: rgba($shadow-color, 0.12) !default;
// $elevation-penumbra: rgba($shadow-color, 0.14) !default;
// $elevation-ambient: rgba($shadow-color, 0.12) !default;

// $dark-shadow-color : #bac4d0 !default;
// $elevation-dark-umbra : rgba($dark-shadow-color, 0.12) !default;
// $elevation-dark-penumbra : rgba($dark-shadow-color, 0.14) !default;
// $elevation-dark-ambient : rgba($dark-shadow-color, 0.12) !default;

$generic-border-radius: 11px !default;
$button-font-weight: 400 !default;
$button-border-radius : 11px !default;

$text-xs:12px;
$text-sm:14px;
$text-md:16px;
$text-lg:18px;
$text-xl:20px;
$text-2xl:24px;
$text-3xl:30px;
$text-4xl:36px;
$text-5xl:48px;
$text-6xl:60px;
$text-7xl:72px;
$text-8xl:96px;
$text-9xl:128px;

$text-line-height-xs:calc(1 / 0.75);
$text-line-height-sm:calc(1.25 / 0.875);
$text-line-height-md:calc(1.5 / 1);
$text-line-height-lg:calc(1.75 / 1.125);
$text-line-height-xl:calc(1.75 / 1.25);
$text-line-height-2xl:calc(2 / 1.5);
$text-line-height-3xl:calc(2.25 / 1.875);
$text-line-height-4xl:calc(2.5 / 2.25);
$text-line-height-5xl:1;
$text-line-height-6xl:1;
$text-line-height-7xl:1;
$text-line-height-8xl:1;
$text-line-height-9xl:1;