// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #5865f2;
$secondary: #3273dc;
$accent: #00d1b2;

$positive: #23d160;
$negative: #ff3860;
$info: #209cee;
$warning: #ff9f43;
// used by dark mode
// $dark-page: #171717 !default;
// $dark: #1c1c1d !default;

// $separator-color: #dcdcdc !default;
// $separator-color: #f0f0f0 !default;
// $separator-dark-color: #282829 !default;

$shadow-color: #000 !default;
$elevation-umbra: rgba($shadow-color, 0.12) !default;
$elevation-penumbra: rgba($shadow-color, 0.14) !default;
$elevation-ambient: rgba($shadow-color, 0.12) !default;

$button-font-weight: 400 !default;
$generic-border-radius: 10px !default;
